@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

body {

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1640px;
  margin: auto;
  padding: 0 20px;
}

